@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,400;0,900;1,400&display=swap');

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
h1,h2,h3,h4,h5,h6 {
    color: var(--darkGreen);
    text-align: center;
}

body{
    padding: 0;
    margin: 0;
}

h2{
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
}

b {
    color: var(--darkGreen);
    font-weight: bolder;
}

p {
    font-family: "Lato", sans-serif;
    font-size: 1.25em;
}

p.double{
    line-height: 2;
}

p.contact:hover{
    cursor: pointer;
}

p.contact img{
    height: 1em; 
    width:auto;
    filter: brightness(0) saturate(100%) invert(11%) sepia(1%) saturate(990%) hue-rotate(314deg) brightness(100%) contrast(77%);
}

.top-bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: var(--darkGreen);
}

.bar-text{
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    padding: .7em;
    text-decoration: none;
    font-weight: 900;
    color: var(--green);
}

.bar-text img{
    object-fit: contain; 
    height: 2.6em;
}

.hover-dark:hover{
    cursor: pointer;
    background-color: #4d4b4b;
}

.hover-light:hover{
    cursor: pointer;
    background-color: #a2aaac
}

footer {
    background-color: var(--green);
    color: var(--white);
    text-align: center;
    position: absolute;
    margin: 0px;
    left: 0;
    right: 0;
    height: 15vh;
    z-index: 3;
}

.footer-text {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 1.9em;
    text-decoration: none;
    font-weight: 900;
    cursor: pointer;
    color: var(--black);
}

.content-container{
    background-color: var(--white);
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    position: static;
    padding: 2vh 15%;
    border-radius: 10px;
    text-align: left;
    align-items: center;
    color: var(--black);
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    justify-content: center;
}

.single-column{
    grid-template-columns: 100%;
}

.container-middle{
    grid-column: 1/3
}

.center-text{
    text-align: center;
}

.gap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    color: var(--green);
    text-align: center;
    font-size: 3em;
    height: 50vh;
    z-index: 10
}

.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    background-color: rgba(0, 0, 0, 0);
    color: var(--green);
    text-align: center;
    font-size: 7em;
    height: 100vh;
}

img.about{
    object-fit: contain; 
    margin: 5% auto 0 auto; 
    display: block; 
    border-radius: 10px;
    height: 100%
}

.project-container{
    display: block;
    background-color: var(--darkGreen);
    border-radius: 10px;
    color: var(--white);
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    margin: 0 0 3% 0;
}

img.project{
    object-fit: contain; 
    margin: 0 auto; 
    border-radius: 10px;
    width: 70%;
}

.contact-container{
    display: flex;
    align-items: center;
    height: 6vh;
    justify-content: center;
    gap: 5%;
    padding: 3vh 0;
    filter: invert(21%) sepia(75%) saturate(447%) hue-rotate(113deg) brightness(105%) contrast(101%);
}

.tab-container{
    display: flex; 
    margin-top: 5%; 
    flex-wrap: wrap;
}

.tab-changer{
    background-color: var(--green);
    color: var(--black);
    font-family: 'Lato', sans-serif;
    width: 25%;
    height: 100%;
    font-size: 1.5em;
    font-weight: 900;
    margin: 0;
    border: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.tab-changer:not(.tab-active):hover{
    cursor: pointer;
    background-color: #1bffc2;
}

.tab-active{
    background-color: var(--darkGreen);
    color: var(--white);
}

.tab-display{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1vh;
    background-color: var(--darkGreen);
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: left;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    line-height: normal;
    grid-auto-rows: 5vh;
}

.tab-row{
    display: flex;
    justify-content: space-between;
}

.tab-row:hover{
    font-weight: 900;
    .star-container{filter: brightness(0) saturate(100%) invert(93%) sepia(98%) saturate(1146%) hue-rotate(82deg) brightness(88%) contrast(98%);}
}

.tab-text{
    display: flex;
    color: var(--white);
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    font-weight: inherit;
}

.star-container{
    display: flex;
    height: 2em;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin: 0 2% 0 2%;
}

@media only screen and (max-width: 768px){
    .content-container{
    margin: 0;
    grid-template-columns: 1fr;
    border-radius: 0%;
    padding: 2vh 5%;
    }

    .container-middle{
        grid-column: 1;
    }
    
    .tab-container{
        background-color: var(--darkGreen);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: .5vh .2vh;
    }

    .tab-changer{
        width: 49%;
        border-radius: 10px;
        margin: 0 .5% .5vh .5%;
    }

    .tab-display{
        grid-template-columns: 1fr;
    }

    .bar-text{
        padding: .7em .2em;
    }

    .top-bar{
        justify-content: space-between;
        padding: 0 .4em 0 0;
    }

    img.project{
        width: 80%;
    }
    
}